<div class="row calendarStyle">
    <full-calendar *ngIf="options" #fullcalendar [editable]="true" [events]="eventsModel" [header]="options.header" [customButtons]="options.customButtons" (dateClick)="dateClick($event)" (eventDragStop)="eventDragStop($event)" [plugins]="options.plugins"
        [locale]="locale" (eventClick)="eventClick($event)" [columnHeaderHtml]="options.columnHeaderHtml"></full-calendar>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm">

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="productNameId">Product Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="productNameId" type="text" placeholder="Name (required)" formControlName="productName" />
                    <!-- <span class="invalid-feedback">
                      {{displayMessage.productName}}
                  </span> -->
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3" style="width:80px;" type="submit" [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" [disabled]="!productForm.valid">
                    Save
                  </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button [hidden]="true" id="btnModal" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
<!-- 
<hr>

<pre>{{closeResult}}</pre> -->