<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Visando Ando</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" *ngIf="isLoged" href="#" [routerLink]="['/main/dashboard']" routerLinkActive="router-link-active">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" *ngIf="isLoged" href="#" [routerLink]="['/main/clientList']" routerLinkActive="router-link-active">Clientes <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav float-lg-right ">
            <li class="nav-item active" *ngIf="!isLoged">
                <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoged">
                <a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">Registra usuario</a>
            </li>
            <li class="nav-item" *ngIf="isLoged">
                <a class="nav-link" (click)="logout()" href="#" routerLinkActive="router-link-active">Logout</a>
            </li>
            <li class="nav-item" *ngIf="isLoged">
                <a class="nav-link">{{usuario}}</a>
            </li>
            <li class="nav-item" *ngIf="isLoged">
                <div class="row" style="text-align: center; margin-left: 35%;">
                    <img *ngIf="userPhoto" style="text-align: right" src="{{userPhoto}}" class="rounded-circle">&nbsp;&nbsp;<br>
                </div>
                <div class="row" style="align-content: right; margin-top: 5px; margin-bottom: 0px;">
                    <span style="text-align: left" class="badge pill badge-secondary">{{emailUser}}</span>
                </div>
            </li>
        </ul>
    </div>
</nav>