<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Entrar a Visando-Ando</h2>
                <form action="/action_page.php">
                    <div class="imgcontainer">
                        <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
                    </div>
                    <div class="container">
                        <label for="uname"><b>Correo electrónico</b></label>
                        <input type="text" placeholder="Ingresar correo electrónico" name="uname" required>

                        <label for="psw"><b>Contraseña</b></label>
                        <input type="password" placeholder="Ingregar contraseña" name="psw" required>

                        <button class="btn-login" type="submit">Iniciar sesión</button>
                        <button class="btn-google" type="submit">Continuar con Google</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>