<div class="col-12">
    <div class="row card">
        <form novalidate class="col-12" (ngSubmit)="saveAppoinment()" [formGroup]="ClientForm">
            <div class="form-group row">
                <div class="col-md-3">
                    <app-control-datepicker class="col-12 col-md-2" [label]="'Fecha cita'" [control]="ClientForm.controls.appointmentDate"></app-control-datepicker>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Nombre'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Apellido paterno'" [control]="ClientForm.controls.name"></app-control-input>
                    <!-- <control-dropdownlist class="col-12 col-md" [label]="('HandEmployeeArea' | translate)" [control]="handForm.controls.employee.get('areaId')" [valueField]="'catalogueElementId'" [textField]="'element'" [data]="employeeAreas"></control-dropdownlist> -->
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Apellido materno'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <app-control-datepicker class="col-12 col-md-2" [label]="'Fecha nacimiento'" [control]="ClientForm.controls.appointmentDate"></app-control-datepicker>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'CURP'" [control]="ClientForm.controls.name"></app-control-input>
                    <!-- <app-control-dropdownlist [label]="'Estatus visa'"></app-control-dropdownlist> -->
                    <!-- <control-dropdownlist class="col-12 col-md" [label]="('HandEmployeeArea' | translate)" [control]="handForm.controls.employee.get('areaId')" [valueField]="'catalogueElementId'" [textField]="'element'" [data]="employeeAreas"></control-dropdownlist> -->
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [type]="'email'" [label]="'Correo'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Contraseña'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'No pasaporte'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'DS160'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Usuario CAS'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Contraseña'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'DS160'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Usuario CAS'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
                <div class="col-md-3">
                    <app-control-input class="col-12 col-md-6" [label]="'Contraseña'" [control]="ClientForm.controls.name"></app-control-input>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3" style="width:80px;" type="submit" [title]="ClientForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" [disabled]="!ClientForm.valid">
                Save
              </button>
                </div>
            </div>
            <pre>{{ClientForm.value | json}}</pre>
        </form>
    </div>
</div>